@import 'styles/_helpers';

.dice-board {
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
    padding: 25px 30px;
    border-radius: 7px;
    border: 1px solid #c7c7c7;
    background-color: $col-3;

    &__field {
        display: flex;
        align-items: baseline;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        label {
            display: block;
            width: 120px;
        }

        input {
            width: 250px;
            height: 30px;
            border: 1px solid #777;
            padding: 0 15px;
            font-size: 18px;
            text-align: right;
        }
    }

    &__wrapp {
        display: flex;
        justify-content: space-between;
        padding: 30px 0 15px;
        width: 80%;
        margin: 0 auto;
    }

    &__bet {
        width: 30%;
    }

    &__btn {
        display: block;
        width: 100%;
        padding: 12px 0;
        margin-bottom: 20px;
        border: 0;
        border-radius: 3px;
        background-color: $col-6;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: 600;
        color: #9B4C4C;
    }

    &__bet-index {
        font-size: 15px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
