@import 'styles/_helpers';

.hash {
    &__title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__value {
        word-break: break-all;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
    }
}
