@import 'styles/_helpers';

.app {
    min-width: 810px;

    &__content {
        display: flex;        
    }

    &__main {
        width: calc(100% - 300px);
    }

    &__sidebar {
        width: 350px;
        padding-right: 20px;
    }

    &__sidebar-item {
        padding: 25px 15px;
        background-color: $col-3;
        border-radius: 7px;
        border: 1px solid #c7c7c7;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}
