@import 'styles/_helpers';

.app {
    

    &__content {
        display: flex;        
    }

    &__main {
        width: 70%;
    }

    &__sidebar {
        width: 30%;
        padding-right: 20px;
    }
}
