@import 'styles/_helpers';

.balance {
    &__head {
        margin-bottom: 20px;
        color: $col-4;
        font-size: 20px;
    }

    &__value {
        color: $col-5;
        font-weight: 700;              
    }

    &__btn {
        padding: 8px 15px;
        border-radius: 3px;
        border: 0;
        background-color: $col-5;
        font-size: 16px;
        color: #000;
        transition: background 0.3s, box-shadow;

        &:hover {
            background-color: darken($col-5, 8%);
            box-shadow: 0 0 3px rgba(0,0,0,0.2);
        }
    }
}
